.enemy-container{
    position: absolute;
    height: 75vh;
    width: 20vw;
    top: 0%;
    right: 28%;
}
.enemy-picture{
    position: absolute;
    height: 40%;
    width: 40%;
    top:24% ;
    z-index: 3;
    left: 30%;
}
.enemy-platform{
    position: absolute;
    height: 20%;
    width: 60%;
    top: 50%;
    left: 20%;
}
.enemy-banner{
    position: absolute;
    height: 28%;
    width: 160%;
    transform: rotate(180deg) scaleY(-1);
    bottom: -8.5%;
    right: -40%;

}
.villian-stats{
    position: absolute;
    top: 0;
    left: 20%;
    height: 20%;
    width: 22%;
}

.enemy-name{
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    left: 5%;
    top: 5%;
    margin: 0;
    font-size: 40px;
}
.enemy-level{
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
    font-size: 30px;
    right: 10%;
    top: 7%;
    font-weight: bold;
}
.health-bar-image{
    position: absolute;
    width: 90%;
    height: 30%;
    bottom: 20%;
    right: 0;
    z-index: 5;
}
.shake {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }